
  
 .steps img {
    width: 140px;
    height: 40px;
    animation: scroll 60s linear infinite;
    margin-right: 40px;
   
  }
  
  .slide-track {
    width: 100%;
    display: flex; 
    justify-content:space-around;
    gap: 2em;
    overflow: hidden;

  }
 
 marquee{
 height: 100px;
 position: relative;
 left:0;
 }
 @keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
/*   
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  } */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
   
  }
  
  .nav {
    height: 80px;
    width: 100%;
    background-color: #F5F8FD;
    box-shadow: 1px 0px #595d75;
    position: sticky;
    top: 0;
    font-family: 'Lato',arial, sans-serif;
    font-size: 15x;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
 .logo{
   width: 130px;
   height: 70px;
   margin-left: 20px;
   margin-top: 0px;
  } 
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #707593;
    margin-top: 15px;
    margin-bottom: -10px;
  }
  
  .nav > .nav-links > a:hover {
    color: #461BFD;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-links{
      align-items: center;
      justify-content: center;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      color: #461BFD;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 10px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
      -moz-user-select: toggle;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 30px;
      border-top: 2px solid #461BFD;
      color: #461BFD;    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      margin-top: 18px;
      background-color:#F5F8FD;
      color: #461BFD;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  
  }
  .dropbtn {
    display: inline;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: #595d75;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #461BFD;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }